* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: #10100f;
  color: #fff;

  font-size: 8px;
  font-weight: bold;
  font-style: normal;
  font-family: "Open Sans";
  overflow-x: hidden;
}

div.left-gate {
  position: absolute;
  height: 100vh;
  width: 50vw;
  background: black;
  z-index: 1;

  animation: linear 1.2s openLeft forwards;
}
@keyframes openLeft {
  100% {
    transform: translateX(-100%);
  }
}

div.right-gate {
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 50vw;
  left: 50%;
  background: black;
  z-index: 1;

  animation: linear 1.2s openRight forwards;
}
@keyframes openRight {
  100% {
    transform: translateX(100%);
  }
}

div.container {
  display: grid;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas: "header" "center" "footer";
}

span {
  font-size: 1em;
  color: #e8c300;

  line-height: 14px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;

  grid-area: center;
}

h1 {
  font-size: 5em;
  font-weight: 500;
  font-family: "Abel", sans-serif;
  text-align: center;

  letter-spacing: 10px;
  text-align: center;

  grid-area: center;
  margin: 100px 30px 0 30px;
}

div.divisor {
  height: 4px;
  width: 90px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  left: center;
}

div.buttons {
  grid-area: center;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  left: center;
}

button {
  outline: none;
  cursor: pointer;
  border-radius: 5px;

  margin: 5px;
  width: 20em;
  height: 5em;

  color: #fff;
  background: #10100f;
  border: 1px solid rgba(255, 255, 255, 0.5);

  font-size: 0.8em;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

button.yellow {
  background: #e8c300;
  border: 1px solid #e8c300;
}

footer {
  grid-area: footer;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  margin: 1em 3em;
  height: 3em;
  width: 3em;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li a {
  color: #fff;
  text-decoration: none;

  font-size: 1.5em;
  font-weight: 300;
  font-family: "Abel";
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
  div.divisor {
    top: 48%;
  }
  div.buttons {
    top: 65%;
  }
}
